#evalFisOutput {
	background-color:#ffffff;
	border:0px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
}

.rotate {
   -moz-transform: rotate(270deg);
   -webkit-transform: rotate(270deg) ;
   -o-transform: rotate(270deg) ;
   -ms-transform: rotate(270deg) ;
   transform: rotate(270deg);
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#dispSysParams label,#dispSysParams input, #dispSysParams select {
	width:90%;
}

#ruleTableWrapper {
	width: 90%;
	overflow: hidden;
}

#ruleTableDivAND {
	width: 50%;
	margin-bottom:5%;
	float:left;
}

#ruleTableDivOR {
	float:left;
	margin-bottom:5%;
	overflow: hidden;
}
.input {
	max-width:100%;
}

.thinSelectBox {
	width:150px;
}

.lowMarge {
	margin-left: 20px;
}

.varHelpBtn {
	float:right;
}

.titleText {
	font-weight:bold;
	font-size:18px;
}

h4 .titleText {
	font-size:18px;
}

.modalForm {
	margin: 0px;
}

.addNewVarBtn {
	margin-left:2.564102564102564%;
}

.smallIndent {
	margin-left:2.564102564102564%;
}

.divide {
	margin:10px 0;
}

hr {
	border-color:#000000;
	border: 1px solid;
}

.modal {
    width: 60%; /* respsonsive width */
    margin-left:-30%; /* width/2) */ 
}

.break {
	padding-top:5px;
	padding-bottom:5px;
}

table {
	margin-left:20px;
}

td {
	padding: 5px;	
}

.variable {
	background-color:#EEEEEE;
	margin-bottom:10px;
	padding:15px;
	border:1px solid;
	border-radius:5px;
}

.variable input {
	margin-top:0px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:2.5%;
	padding:5px 5px;
	font-size:14px;
	line-height:20px;
}

.variable h4, .variable h5 {
	float:left;
	margin-top:10px;
	margin-left:2.5%;
}

.left {
	float:left;
	
}

.right {
	float:right;
	
}

.variableButton {
	margin-top:5px;
}